@page
@model Project.App.Frontend.Pages.EstudianteList
@{
}

<h1>Lista estudiantes</h1>
<a asp-page=".\EstudianteEdit" class="btn btn-primary">Adicionar estudiante</a>
<table class = "table">
    <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td>Apellidos</td>
        <td>Edad</td>
    </tr>
    
    @foreach(var estudiante in Model.Estudiantes)
    {
        
        <tr>
            <td>@estudiante.nombre</td>
            <td>@estudiante.apellidos</td>
            <td>@estudiante.identificacion</td>
            <td>@estudiante.edad</td>
            
            <td>
              <a class="btn btn-primary table-btn" asp-page="./EstudianteDetalle" asp-route-estudianteId="@estudiante.id">
                <i class="fas fa-info-circle" aria-hidden="true"></i></a>
            </td>
            <td>
              <a class="btn btn-primary table-btn" asp-page="./EstudianteEdit" asp-route-estudianteId="@estudiante.id">
                <i class="fas fa-address-book fa-lg" aria-hidden="true"></i></a>
            </td>
            <td>
                <a class="btn btn-danger" asp-page="./EstudianteDelete" asp-route-estudianteId="@estudiante.id">
                    <i class="fas fa-skull-crossbones" aria-hidden="true"></i></a>
            </td>
        </tr>
    }
</table>