@page
@model Project.App.Frontend.Pages.EstudianteDetalle
@{
}

<h1>Detalle estudiante</h1>
<table class = "table">
 
    <tr>
        <td>@Model.estudiante.nombre</td>
        <td>@Model.estudiante.apellidos</td>
        <td>@Model.estudiante.identificacion</td>
        <td>@Model.estudiante.edad</td>
        <td>@Model.estudiante.diagnostico</td>
        <td>@Model.estudiante.vacuna</td>
        <td>@Model.estudiante.carrera</td>
        <td>@Model.estudiante.semestre</td>
    </tr>
   
</table>
<a class="nav-link text-dark" asp-area="" asp-page ="/Listas/EstudianteList">Estudiates</a>
