@page
@model Project.App.Frontend.Pages.ProfesorList
@{
}

<h1>Lista profesores</h1>
<table class = "table">
    <tr>
        <td>Nombre</td>
        <td>Apellidos</td>
        <td>Id</td>
        <td>Edad</td>
        <td>Diagnostico</td>
        <td>Vacuna</td>
        <td>Departamento</td>
        <td>Materia</td>

    </tr>
    
    @foreach(var profesor in Model.Profesores)
    {
        <tr>
            <td>@profesor.nombre</td>
            <td>@profesor.apellidos</td>
            <td>@profesor.identificacion</td>
            <td>@profesor.edad</td>
            <td>@profesor.diagnostico</td>
            <td>@profesor.vacuna</td>
            <td>@profesor.departamento</td>
            <td>@profesor.materia</td>
            
            <td>
              <a class="btn btn-primary table-btn" asp-page="./ProfesorDetalle" asp-route-profesorId="@profesor.id">
                <i class="fas fa-info-circle" aria-hidden="true"></i></a>
            </td>
        </tr>
    }
</table>